#top-of-page {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #cd7b29;
  background-image: url("../images/always-grey.png");
  justify-content: center;
  align-items: center;
  z-index: 9;
}

#profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 135px;
  min-width: 320px;
}

#username {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
}

h2 {
  padding-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
  
  #top-of-page {
    width: 40%;
    margin: 120px;
  }
}