.fixed-nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  z-index: 9999;
}

nav span {
  display: flex;
  font-family: 'Bungee', sans-serif;
  align-items: center;
  font-size: 1.5em;
}

#icon-arrows {
  color: red;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}