.new-tweet {
  display: flex;
  justify-content: center;
  width: 100%;
}

section.new-tweet form {
  padding: 5px;
  width: 100%;
  min-width: 320px;
}

textarea {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  background: none;
  resize: none;
  height: 60px;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid black;
}

button {
  border: none;
  color: #f4f1ec;
  background-color: #4056A1;
}

button:hover {
  border: none;
  color: #f4f1ec;
  background-color: orange;
}

#button-counter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.counter {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.counter-negative {
  display: flex;
  width: 10%;
  color: red;
}

@media only screen and (min-width: 1024px) {
  section.new-tweet form {
    padding: 5px;
    width: 70%;
    min-width: 320px;
  }
}